Apify_Scapper.json
{
  "name": "Apify_Scapper",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a6b048c3-6857-4533-b385-404c8dbdd660",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/clockworks~tiktok-scraper/runs?token=apify_api_HMg31QTlW9TNLFTpwOrjDIoMDX2EWA1C9HDj",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"excludePinnedPosts\": false,\n    \"hashtags\": [\n        \"fyp\"\n    ],\n    \"maxRepliesPerComment\": 0,\n    \"proxyCountryCode\": \"None\",\n    \"resultsPerPage\": 100,\n    \"scrapeRelatedVideos\": false,\n    \"shouldDownloadAvatars\": false,\n    \"shouldDownloadCovers\": false,\n    \"shouldDownloadMusicCovers\": false,\n    \"shouldDownloadSlideshowImages\": false,\n    \"shouldDownloadSubtitles\": false,\n    \"shouldDownloadVideos\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        0
      ],
      "id": "cfd120c3-c57c-44e0-8aab-0479358b0207",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/clockworks~tiktok-scraper/runs/last/dataset/items?token=apify_api_HMg31QTlW9TNLFTpwOrjDIoMDX2EWA1C9HDj",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        0
      ],
      "id": "059b148a-4320-407c-95c5-4734a66533a7",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbf943d2-a45a-4fd1-9c14-0717925e0cdd",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ],
      "id": "5e118539-23d5-44bb-a9dd-7c88f263788a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 22
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        432,
        0
      ],
      "id": "405763d1-2964-42f7-90ef-87924e7084f3",
      "name": "Wait",
      "webhookId": "bb96ffec-76bc-4ca8-95ce-71952af7fc5a"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "48d5e39c-3000-469c-b972-18bf65c91d44",
  "meta": {
    "instanceId": "5c534e9197fdf73905a77a727965c15465d0109f86d78b639bbf99c54d2f2bb8"
  },
  "id": "PrQbwXcDHjMduUwB",
  "tags": []
}