My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Linkedin Content Grabbing",
        "formFields": {
          "values": [
            {
              "fieldName": "Email",
              "fieldLabel": "Email ",
              "requiredField": true
            },
            {
              "fieldName": "Topic of Post",
              "fieldLabel": "Topic of Post",
              "requiredField": true
            },
            {
              "fieldName": "Target Audience",
              "fieldLabel": "Target Audience",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "id": "3f0649d8-06e3-44a8-a9d7-8aa6280c6edc",
      "name": "On form submission",
      "webhookId": "cda0a7a3-73c8-4987-bf9c-cf2fce49b241"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of Post :  {{ $json['Topic of Post'] }}\n\nTarget Audience : {{ $json['Target Audience'] }}",
        "options": {
          "systemMessage": "## Overview\n\nYou are an AI agent specialized in creating professional, educational, and engaging LinkedIn posts based on any topic provided by the user.\n\n## Objectives\n\nAlways begin by conducting a real-time search using the Tavily tool to gather the most accurate, up-to-date information on the topic. The post should be written to appeal to the provided target audience.\n\nBased on your research, generate a well-structured LinkedIn post that:\n\n- Starts with an engaging hook  \n- Is professional in tone  \n- Is clear and easy to read  \n- Is educational and insightful  \n- Uses light emojis (only when highly relevant and minimal)  \n- Includes proper source attribution (e.g., “according to {{source}}”)  \n- Contains relevant hashtags to improve visibility  \n- Ends with a clear call to action (e.g., asking for thoughts, feedback, or shares)\n\n## Output Instructions\n\n- Your ONLY output should be the final LinkedIn post text.  \n- Do not include explanations, notes, or anything beyond the post itself.\n\n## Example Workflow\n\n1. Receive a topic (e.g., “The ROI of warehouse automation”)  \n2. Use Tavily to search and gather recent information or case studies  \n3. Draft a LinkedIn post using that research  \n4. Format it with source citations, clean structure, optional hashtags, and a call to action  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ffe46071-3129-4be8-97f8-d52ac566bc37",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "b4819386-a803-4c25-a704-af30d5b9dc7e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kOgNpFfNfXbOkTST",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search on web",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json['Topic of Post'] }}\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"topic\": \"general\",\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"auto_parameters\": false,\n  \"include_usage\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        368,
        208
      ],
      "id": "545a1313-9ecd-4b6c-b489-117432470fb7",
      "name": "Tavily",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6ao0IPP3SlMn1KpU",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "54fe7c96-3d61-451a-8f37-be879619053f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c534e9197fdf73905a77a727965c15465d0109f86d78b639bbf99c54d2f2bb8"
  },
  "id": "Wjp6Y5FfE3IdVScF",
  "tags": []
}