N8nRag_Agent.json
{
  "name": "N8nRag_Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1STYDXFOFUiSCtUE_2H0HAnv9IfYg5IWf",
          "mode": "list",
          "cachedResultName": "Knn8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1STYDXFOFUiSCtUE_2H0HAnv9IfYg5IWf"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e36e9d5c-8afe-4502-b3bc-076b8d25ccbe",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9i9RPMN6BIqeUsH8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1MM0UfPHKaU9Ets5lshFExNXX0Lf1hR4K",
          "mode": "list",
          "cachedResultName": "Android VJTECH.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1MM0UfPHKaU9Ets5lshFExNXX0Lf1hR4K/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "413a4b72-fdb3-489e-96cb-45a8328e422b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9i9RPMN6BIqeUsH8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragagent",
          "mode": "list",
          "cachedResultName": "ragagent"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "e1ba6ea1-f7cc-4e68-8c88-6aa72eb7a556",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "OBxWHlq8LsyDyA07",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        208
      ],
      "id": "a72ee2f6-5095-4272-bc91-507a968fcf59",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "kOgNpFfNfXbOkTST",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "620b3936-e004-4fc2-97f4-0a9181c3bf74",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "5e32f328-eeae-41d6-9a38-11f87da96920",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}