Text Classifier.json
{
  "name": "Text Classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "bedba8f9-1d1c-4496-a96c-a5cb4509f0e5",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "C9FicFdlL4vtqQhu",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "= {{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An Email that is related to helping out a customer. They may be asking questions about our policies or questions about our products or services."
            },
            {
              "category": "Other",
              "description": "Any email that is not the part of customer support"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You must return ONLY valid JSON.\nNo markdown.\nNo text.\nNo arrays.\n\nReturn a JSON object with category names as keys and true/false as values.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "711d73b9-62b7-484e-b36a-5c677796e10b",
      "name": "Text Classifier",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "text"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        208
      ],
      "id": "e4b3c10a-3119-4286-82fe-3689d2e6f03a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kOgNpFfNfXbOkTST",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6d6f5291-30c0-4a24-849b-5029dcc2d6a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c534e9197fdf73905a77a727965c15465d0109f86d78b639bbf99c54d2f2bb8"
  },
  "id": "cSpUEGtnDOpqSlVc",
  "tags": []
}